 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html {
    font-family: Roboto;
    min-width: 100%;
}


.discover-main div {
    align-items: left;
    display: flex;
    flex-flow: column;
}

.discover-main img[data-src] {
    filter: blur(0.1em);
    opacity: 25%;
}

.discover-main img {
    filter: blur(0em);
    opacity: 1;
    transition: all 500ms ease-in;
}

.social a img{
    display: grid;
    grid-auto-flow: row;
    grid-gap: 10px;
    position: relative;
    margin-bottom: 10px;
  
}

.logo-box {
    display: grid;
    grid-auto-flow: column;
   
    align-items: center;
    text-align: right;
}
.logo-box img {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 5px 5px 5px 5px goldenrod;
}


header:hover { 
    background: rgba(172, 160, 160, 0.8);
}

.sub-header {
    font-size: 50px;
    text-align: left;
    color: green;
    
}


body {
    background-color: black;
}

main {
    display: grid;
    grid-gap: 3em;
    grid-auto-rows: fit-content(10em);
    text-shadow: 2px 3px 5px black;
    color: white;
    padding: 1em;
    transition: all 1s ease-in-out;
}


main div {
    text-align: center;
    border-radius: 5px;
    background-color: #3D3D3D;
    width: 100%;
}

main div:hover {
    background: rgba(61, 61, 61, 0.5);
}

main div img:hover {
    opacity: 0.8;
}

.main-title {
    font-size: 25px;
    text-align: left;
}

a {
    color: #17B5DE;
    text-decoration: none;
    transition: all 500ms;
}

a:hover {
    font-size: 1.5rem;
}

header img {
    width: 50px;
    padding: 1em;
    border-radius: 75%;
}

p {
    color: white;
}

header nav {
    padding: 0.5em;
    grid-column: 1/3;
    grid-row: 1/2;
    height: 0;
    opacity: 0;
    transition: all 500ms ease-in-out;
    position: relative;
}

button {
    border: none;
    background: none;
    color: inherit;
    font-size: 20px;
    text-align: left;
    width: 30px;
    height: 30px;
    grid-row: 1/2;
    grid-column: 1/2;
    position: relative;
}


nav a {
    display: block;
    text-decoration:underline;
    color: blue;
    font-size: 1.5rem;
}

nav div:hover {
    background-color:yellow;
    margin-top: 5px;
    transition: margin 500ms ease-in-out;
}

ul {
    color: white;
}

footer {
    color:darkorange;
    background-color: #3D3D3D;
    text-align: center;
    font-size: 1.2rem;
}

footer p{
    color:darkorange;
}
footer a{
    color:darkorange;
}
.event {
    grid-row: 1 / 2;
}

.weather {
    grid-row: 2 / 3;
    background-color:skyblue;
    text-shadow: darkgoldenrod;
}
.action {
    display: flex;
    flex-direction: row;
    grid-row: 3 / 4;
}

.action img {
    height: 100%;
    width: 100%;
    position: relative;
}

.action a {
    position: absolute;
    left: 35%;
    background: rgba(61, 61, 61, 0.8);
    padding: 1em;
    color: orange;
    font-size: 1.1rem;
    transition: all 500ms;
}

.action a:hover {
    background: rgba(61, 61, 61, 1);
    font-size: 1.2rem;
}

.spot-3 {
    display: none;
}

.join {
    display: none;
}

.news {
    grid-row: 4 / 5;
}

.responsive {
    display: grid;
    height: 100%;
    opacity: 1;
    background-color: #3D3D3D; 
}

.responsive a:hover {
    margin-left: 10px;
    transition: margin-left 300ms;
}

button:hover {
    background-color: gray;
}


.current-date {
    grid-row: 2 / 3;
    grid-column: 1 / 6;
    text-align: center;
}



.social img {
    width: 20px;
    position: absolute;
    transition: width 800ms;
}

.social img:hover {
    width: 30px;
    transition: width 800ms;
}

img[data-src] {
    filter: blur(0.2em);
}

.small {
    align-items: flex-start;
}

.medium_principle {
    align-items: grid;
}
.temperature{
    color: black;
    font-weight: bold;
    font-size: larger;
}
.wind-speed{
    color: black;
    font-weight: bold;
    font-size: larger;
}
.wind-chill{
    color: black;
    font-weight: bold;
    font-size: larger;
}

/*.................FORM............*/
form fieldset{
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .2rem 2%;
}

form legend{
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;

}

form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: red;
    font-size: 2rem;
}

form label.top input, form label.top select {
    display: block;
    font-size: 15px;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0,1);
}

form label.radio{
    display: block;
    padding: .75rem;
    color:white;
}

form input.submitBtn{
    border: 1 px solid red;
    background-color: #445ba9;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}  

form label.top input:required{
    border-left: 6px solid red;
}

form label.top input:required:valid{
    border-left: 6px solid green;
}

.clearfix ul li a {
    display: inline-block;
    color:blue;
    background-color: brown;
    animation-direction: reverse;
    
}

.clearfix{
    background-color: chocolate;
    animation-direction: reverse;
}

main{
    background-color:darkslategrey;
}

/*--------------CONTACT US  -------------------*/
.submit{
    background-color: green;
}
.news h1{
    color: chocolate;
}
.join h2{
    color: chocolate;
}
.spot-t h2{
    color: chocolate;

}
.spot-t .inquiry input{
    display:flex;
}

/*...........Directory............*/

.companies{
    border: 1px solid #cccccc;
    padding: 20px;
    margin: 20px 0px 20px 0px;
    display: grid;
    grid-template-columns: 1fr;
}
.location-footer {
    align-items: center;
}
.text-footer{
   text-align: center;
}
.main-nav-footer{
    text-align: top;
}

/*..........IMAGES................*/

.photos picture img {
    display: block;
    padding: .05rem;
    border-radius: 10px 140px 30px 140px;

    -moz-box-shadow: 0 0 5px 3px #9d9d9d;
-webkit-box-shadow: 0 0 3px 5px #9d9d9d;
box-shadow: 3px 4px 5px 5px coral



}
.photos picture figcaption{
    padding: .5rem;
    -moz-box-shadow: 0 0 5px 3px #9d9d9d;
-webkit-box-shadow: 0 0 3px 5px #9d9d9d;
box-shadow: 5px 5px 8px 3px chocolate;
}

    


/*.........DISCOVER......*/
main picture img[data-src] {
    border: 2px solid red ;
    padding: 2px;
    transition: 0.5s;
}

 