table { 
    width: 300px;
    font-family: Ubuntu, sans-serif;
    box-shadow: 3px  4px 3px 4px blue;
    border: 1px black;

}
th {
    text-align: left;
    color: azure;
}
table, th, td, caption {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

tr:nth-child(5n+5) {
    background-color: blueviolet;

}
caption {
    background-color: aqua;
    color: black;
}
th {
    background-color: blue;
}
footer{
    font-family: Ubuntu, sans-serif;
}